body {
  font-family: 'Roboto', sans-serif;
}

h2 {
  text-align: center;
  font-size: 30px;
}

section p {
  margin: 14px;
  font-size: 20px;
}

.texto {
  margin: 14px;
}

textarea {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  border: 1px solid blue;
}