body {
  font-family: 'Roboto', sans-serif;
  color: #41D8BF;
}

.header {
  display: grid;
  grid-template-columns: 20% 80%;
}

img {
  width: 120px;
  border: 1px solid #225763;
  border-radius: 50%;
}

h1 {
  margin-left: 240px;
  font-size: 40px;
  color: #225763;
}

.tareas p {
  margin: 14px;
  font-size: 20px;
  display: inline-block;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #225763;
  border: none;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  height: 160;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.texto {
  margin: 14px;
}

textarea {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  border: 1px solid #225763;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

button {
  display: inline-block;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #225763;
  border: none;
  color: #FFFFFF;
  margin: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 20px;
  width: 200px;
  height: 160;
  transition: all 0.5s;
  cursor: pointer;
}

hr {
  background-color: #225763;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; 
}

