body {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: row ;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

.nota1 {
  width: 260px;
  height: 220px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border: 1px solid #225763;
}

.nota1 button {
  margin-top: 80px;
  margin-right: 20px;
  margin-left: 20px;
}

.nota2 {
  width: 260px;
  height: 220px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border: 1px solid #225763;
}


.nota2 button {
  margin-top: 80px;
  margin-right: 20px;
  margin-left: 20px;
}

.nota3 {
  width: 260px;
  height: 220px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border: 1px solid #225763;
}


.nota3 button {
  margin-top: 80px;
  margin-right: 20px;
  margin-left: 20px;
}

.nota4 {
  width: 260px;
  height: 220px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border: 1px solid #225763;
}


.nota4 button {
  margin-top: 80px;
  margin-right: 20px;
  margin-left: 20px;
}

button {
  display: inline-block;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #225763;
  border: none;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 16px;
  width: 82px;
  transition: all 0.10s;
  cursor: pointer;
}